// Place all the styles related to the nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Import Bootstrap:
@import "bootstrap";

#graphDiv {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

body {
	background: center center no-repeat;
	background-size: cover;
	min-height: 100%;
}

nav.navbar {
	border-radius: 0;
	// border-bottom-color: $orange;
	border-bottom: none;
	border-top: none;
	border-left: none;
	border-right: none;
	// a { color: $white !important; }
	margin-bottom: 0;

	form {
		margin-top: 8px;
	}
}